<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

<!--   <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css"> -->
  <!-- TESTME -->
<!--   <link type="text/css" rel="stylesheet" href="node_modules/britecharts/dist/css/britecharts.min.css"> -->

  <script type="module" src="js/chart.js"></script>
</head>

<body>

  <h1>Britecharts</h1>

  <div class="bar-container"></div>

</body>

</html>
